*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    background-color: #0F1111;
    height: 60px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    height: auto;
    width: 100%;
    background-size: cover;
    
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/**box2**/

.add-icon{
    display: flex;
}

.add-one{
    margin-left: 15px;
    color: #cccccc;
    font-size: 0.8rem;
}

.add-two{
    margin-left: 3px;
    font-size: 0.9rem;
    font-weight:700;
}


/**box3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 0px 4px 4px 0px;
    color: #0F1111;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 400;
}
/**box5**/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.6rem;
    font-weight: 700;
}

/**box6**/

.nav-cart{
    display: flex;
}

.fa-cart-shopping{
    font-size: 1.8rem;
}

.cart-text{
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 13px;
}


/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size: 0.9rem;
}

.panel-all{
    font-weight: 700;
}
.fa-bars{
    font-size:1.2rem ;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    
}

.panel-deals{
    font-weight: 700;
}

/**hero**/
.hero-section{
    background-image: url("hero_image.jpg");
    height:240px;
    background-size:cover;
    display: flex;
    flex-grow: wrap;
    justify-content: space-evenly;
}




/**shop**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6; 
    

}

.box{
    border:3px solid white;
    margin-top: 20px;
    height: 500px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 20px;
    box-sizing: border-box;
    font-size: 18px;
    

}

.box_img{
    width: 100%;
    height: 325px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: none;
    object-position:center top;
    

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content a{
    color: #007185;
    font-size: 0.8rem;
    text-decoration: none;
}
.box-content a:hover{
    color:orange;
}

.tutu{
    padding-bottom: 25px;
}

/**footer**/
footer{
    margin-top: 20px;
}


.foot-panel1{
    color:white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.8rem;
}

.foot-panel2{
      
    background-color: #222f3d;
    color: white;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: none;

}

ul{
    margin-top:30px;
    list-style: none;
    padding-left: 0;
}

ul p{
    font-weight: 300px;
    list-style: none;
    padding-left: 0;
}

ul a{
    display: flex;
    font-size: 0.5rem;
    margin-top: 10px;
    width: 100%;
    color: #dddddd;
    overflow: scroll;
    
   }

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.1px solid silver;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: bottom;
    margin-right: 80px;
}
.foot-panel4{
    background-color: #0F1111;
    color: rgb(221, 221, 221);
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}

.pages{  
    padding-top: 25px;
}

.pages a{
    margin-left: 10px;
}

.copyright{
    padding-top: 5px;
}

.globe{
    display: flex;
    justify-content:space-evenly;
    background-size: contain;
    background-color: transparent;
    object-fit: cover;
    width: 50px;
    height: 40px;
    border-radius: 4px;
    margin-right: 25%;
}

.globe-select{
    border:1px solid #cccccc;
    background-color: transparent;
    background-size: contain;
    object-fit: cover;
    color:#dddddd;
    border-radius: 5px;
    margin-left: 20px;
}

.i{
    color: #dddddd;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 75px;
}
.responsive {
    padding: 0.6px;
    float: left;
    width: 25%;
}

@media(max-width:925px){
   
    .nav-search {
        width:70%;
    }
    .nav-second{
        font-size:0.5rem;
    }
   
}
@media(max-width:1200px){
    .box{
        width: 40%;
    }
}
/* Tablet */
@media(max-width: 768px) {

    .box {
        width: 100%
    }
    .box_img{
        width: 40%;
        object-fit: 50% 50%;
        object-position:bottom;
        margin: 85px;
        margin-right: 85px;
        }
    h2 {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
          }
    p{
        font-size: 1rem;
        display: none;
          }
    .shop-section{
        width: 110%;
        height:60%
    }
    .hero-section{
        width: auto;
        height: 100px;

    }
}
/* Mobile */
@media(max-width: 600px){
  
    .box{
        width: 100%;
    }
    .box_img{
        width: 80%;
        margin: 15px;
        margin-left:20px;
        background-size: contain;
        background-repeat: no-repeat;

    }
    .box-content{
       margin: 20px;
    }
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
    display: none;
  }
  .panel-ops{
    font-size: 2rem;
    display: none;
  
}
.pa{
    font-size: 0.5rem;
    display: flex;
    margin-bottom: 0.2rem;
}
    .foot-panel2{
    padding:10px ;
    display: flex;   
    flex-direction: column;
    overflow: auto;
        
        }
    .foot-panel3{
    width:100%;
    }
    .foot-panel4{
        font-size: 0.5rem;
    }
}

    

